/*Fonts - imported as needed*/
@font-face {
    font-family: 'Helvetica Now Display Reg';
    src: url('../fonts/Helvetica/Monotype - Helvetica Now Display Light.otf');
}

@font-face {
    font-family: 'Helvetica Now Display Med';
    src: url('../fonts/Helvetica/Monotype - Helvetica Now Display Medium.otf');
}

@font-face {
    font-family: 'Helvetica Now Display Bold';
    src: url('../fonts/Helvetica/Monotype - Helvetica Now Display Bold.otf');
}

/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Helvetica Now Display Reg', sans-serif;
    max-width: 1440px;
    margin: auto;
    font-size: var(--font-reg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Now Display Bold', sans-serif;
}

/*Variables */
:root {
    --primary-text: #000000;
    --text-inverse: #fff;
    --grey: #474747;
    --font-reg: 18px;
}

/*Utilities */
.wrapper {
    width: 80%;
    margin: auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headings-large {
    line-height: 73px;
    font-size: 72px;
}

.h4 {
    font-size: 24px;
    line-height: 35px;
}

.blur {
    filter: opacity(0.5);
    transition: .7s filter linear;
    -webkit-transition: .7s -webkit-filter linear;
    -moz-transition: .7s -moz-filter linear;
    -ms-transition: .7s -ms-filter linear;
    -o-transition: .7s -o-filter linear;
}

.blur-out {
    filter: opacity(1);
    transition: .7s filter linear;
    -webkit-transition: .7s -webkit-filter linear;
    -moz-transition: .7s -moz-filter linear;
    -ms-transition: .7s -ms-filter linear;
    -o-transition: .7s -o-filter linear;
}

.custom-underline {
    margin-bottom: 32px;
    position: relative;
}

.custom-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--primary-text);
    bottom: -20px;
    left: 0;
}

/*Styles */
.header {
    margin-top: 57px;
}

.header__nav-hamburger {
    background: unset;
    border: none;
    cursor: pointer;
}

.header__join {
    display: block;
    color: var(--text-inverse);
    background: var(--primary-text);
    border-radius: 100px;
    width: 104px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.header__join:hover {
    color: var(--primary-text);
    background: var(--text-inverse);
    font-family: 'Helvetica Now Display Med', sans-serif;;
    -webkit-box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.5);
}

.header__join--modal {
    background: var(--grey);
}

.header__modal {
    display: none;
}

.header__modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(227, 227, 227, .8)
}

.header__modal__container {
    background-color: var(--primary-text);
}

.header__modal__content {
    color: var(--text-inverse);
    padding: 57px 0 224px;
    animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__modal__close {
    color: #aaaaaa;
    font-size: 50px;
    line-height: 50px;
    background: unset;
    border: none;
}

.header__modal__close:hover,
.header__modal__close:focus {
    color: var(--text-inverse);
    cursor: pointer;
}

.header__modal__list {
    list-style: none;
    margin-top: 80px;
    font-size: 32px;
}

.header__modal__list li {
    margin-bottom: 16px;;
}

.header__modal__list a {
    position: relative;
    color: var(--text-inverse);
}

.header__modal__list a:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--text-inverse);
    bottom: -4px;
    left: 0;
}

.hero-section {
    margin-top: 100px;
    margin-bottom: 343px;
    position: relative;
}

.hero-section h1 {
    font-size: 90px;
}

.hero-section h4 {
    width: 33%;
}

.hero-section__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    height: 696px;
    background: url('../images/hero.jpg');
    background-size: cover;
}

.hero-section__future-button {
    display: inline-block;
    background: var(--text-inverse);
    font-size: var(--font-reg);
    font-family: 'Helvetica Now Display Med', sans-serif;
    border: none;
    padding: .5rem 4rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
    box-shadow: 1px 3px 15px 2px rgb(255 255 255);
    cursor: pointer;
    transform: scale(1);
    animation: pulse 2s infinite;
    letter-spacing: .2rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.hero-section__overlay {
    visibility: hidden;
    background: url('../images/hero_overlay.png') no-repeat center;
    height: 800px;
    position: absolute;
    width: 600px;
    left: 30%;
    top: 30%;
    cursor: pointer;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1.5s;
}

.first-section h4 {
    width: 40%;
}

.first-section__carousel__container {
    width: 90%;
    margin: 160px auto 116px;
}

.first-section__carousel img {
    max-width: 100%;
}

.slick-slide {
    margin: 0 15px;
}

.slick-next:before, .slick-prev:before {
    color: var(--primary-text) !important;
    font-size: 30px !important;
}

.slick-prev {
    left: -45px !important;
}

.slick-next {
    right: -35px !important;
}

.slick-dots {
    bottom: -50px !important;
}

.second-section {
    margin-bottom: 143px;
}

.second-section p {
    line-height: 29px;
}

.second-section h2 {
    margin-bottom: 20px;
}

.second-section__left {
    flex-basis: 36%;
}

.second-section__left h4 {
    margin-bottom: 8px;
}

.second-section__right {
    flex-basis: 40%;
}

footer {
    padding: 2rem 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background: var(--primary-text);
    color: var(--text-inverse);
}

footer a {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #0acfc8;
    font-weight: bold;
}

/*Media Queries*/
@media (max-width: 700px) {
    .wrapper {
        width: 90%;
    }

    .header__modal__content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero-section {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .hero-section__image {
        margin-top: 3rem;
        height: 400px;
        background-position: center;
    }

    .hero-section__future-button,  .hero-section__overlay {
        display: none;
    }

    .first-section__carousel__container {
        margin: 3rem 0 116px;
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .hero-section {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .hero-section__overlay {
        left: 25%;
    }
}

@media (min-width: 700px) and (max-width: 1250px) {
    .hero-section__image {
        background-position: center;
    }

    .hero-section__overlay {
        background-image: url("../images/hero_overlay_small.png");
        width: 400px;
    }

    .first-section__carousel__container {
        width: 80%;
    }
}


@media (max-width: 1250px) {
    section .flex-between-center, section.flex-between-center {
        flex-direction: column;
        align-items: unset;
    }

    .hero-section h1, .second-section__right h2 {
        margin-bottom: 2rem;
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    .first-section h2 {
        font-size: 3rem;
    }

    .hero-section h4, .first-section h4 {
        width: 100%;
    }

    .second-section__right {
        margin-top: 4rem;
    }
}
